:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
}
html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
strong {
  color: var(--mainText);
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
}
.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}