body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffff;
  border-radius: 5px;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header */
header {
  background: #35424a;
  color: #ffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid #e8491d;
}
header a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* ShowCase Home*/

#showcase {
  min-height: 400px;
  background: url("../img/showcase_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffff;
  text-align: center;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

/* ShowCase About*/

#showcase-about {
  min-height: 400px;
  background: url("../img/about_bg.jpg") no-repeat;
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  color: rgb(10, 10, 10);
  text-align: center;
}

#showcase-about h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase-about p {
  font-size: 20px;
  background-color: #f4f4f4;
  opacity: .8;
  color:rgb(0, 0, 0);
  padding: 20px;
}

/* ShowCase About*/

#showcase-services {
  min-height: 400px;
  background: url("../img/services_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
}

#showcase-services h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase-services p {
  font-size: 20px;
  background-color: #f4f4f4;
  opacity: .8;
  color:rgb(0, 0, 0);
  padding: 20px;
}
/* NewsLetter */

#newsletter {
  padding: 15px;
  color: #ffff;
  background: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-Col */

article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul.services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  margin-top: 7px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffff;
  background: #e8491d;
  text-align: center;
}
footer a,footer p{
  font-size: 18px;
  font-weight: bold;
}
footer a{
  color: #a2d6f6;
  text-decoration: none;
  
}
/* Media Queries */

@media (max-width: 768px) {
  header #branding,
  header nav,
  header li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin: 40px;
  }
#newsletter button, .quote button{
  display: block;
  width: 100%;
}
#newsletter form input[type="email"], 
.quote input, .quote textarea
{
  
  width: 100%;
  margin-bottom: 5px;
}

}
@media (max-width: 900px){
  #newsletter h1,
  #newsletter form{
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 500px){
  #showcase h1{
    font-size: 35px;
  }
  header li {
    padding: 0 10px 0 10px;
  }
}